html {
  background-color: whitesmoke;
  background-color: #caddf7;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 auto 50px auto;
  text-align: justify;
  scroll-behavior: smooth;
  background-color: #caddf7;
}

* {
  margin: 10px 0 5px 0;
  line-height: normal;
  box-sizing: border-box;
  background-color: #eeedf8;
}

a {
  text-decoration: none;
  background-color: #afcef9;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  transition: 0.1s;
}

a:hover {
  background-color: #eeedf8;
  outline: 1px solid blue;
  transition: 0.2s;
}

hr {
  border-top: 1px solid black;
  margin: 5px 0 10px 0;
}

.bold {
  font-weight: bold;
}

/* head */

.head--container {
  width: 20%;
  min-width: fit-content;
  height: fit-content;
  float: left;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 3px 5px 1px grey;
  position: sticky;
  top: 20px;
}

.name--head {
  font-size: 1.6rem;
  margin-top: 0;
}

.head {
  margin-top: 25px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

/* body */
.body--container {
  width: 78%;
  float: right;
  padding: 20px 40px 80px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 1px grey;
}

.project--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project--card {
  width: 48%;
  margin: 15px 0;
  padding: 5px 20px 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px grey;
}

.tech {
  font-style: italic;
  font-size: 0.9rem;
  margin: 0;
}

.grad--details {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

.grad--details p {
  margin: 0;
}

.grad--year {
  margin-right: 5px;
  font-size: 0.9rem;
  font-style: italic;
}

/* @media print, screen and (min-width: 189.934mm) {
  html,
  body {
    width: 189.934mm;
    max-width: 189.934mm;
    height: 276.934mm;
    max-height: 276.934mm;
    margin: 0;
    padding: 0;
    color: black;
  }
} */
